body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 90%; 
    max-width: 500px; 
    border: 1px solid #ccc; 
    margin-bottom: 2rem; 
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

input, button {
    width: 50%;
}

.result {
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0;
}

.result label {
    display: block; 
    margin-bottom: 0.5rem; 
}

h1, h2 {
    color: #1a202c;
    text-shadow: 1px 1px 2px #aaa;
    text-align: center;
}

#input, #result-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
}

.result-container, .crime-data-section, .input-container {
    width: 70%; 
    max-width: 500px; 
    border: 1px solid #ccc; 
    margin-bottom: 2rem; 
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.crime-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.crime-card:hover {
    background-color: #e9ecef;
}




